.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
  color: green;
}
